xBuildAndroid
xBuildStandalone
xBuildWinPhone
xBuildWeb
xOld
xTrash
xScreenshot
xVideo
Library
Library/*
*.unityproj
*.csproj*
*.sln
*.userprefs
Temp
obj
*.suo
Xcode
Xcode/*
desktop.ini
*thumbs.db*
*.vs